body {
    background-color    : #009CD4;
    background-image    : url("/public/images/bg-repeat.png");
    background-repeat   : repeat-x;
    background-position : center top;
    text-align          : left;
    font-family         : open_sans, Tahoma, Arial, sans-serif;
    font-size           : 14px;
    width               : 100%;
    padding             : 0;
    margin              : 0;
}

#overlay {
    background-image    : url("/public/images/lens-flair.png");
    background-repeat   : no-repeat;
    background-position : -256px -206px;
    padding             : 0;
    margin              : 0;
	height              : 512px;
}

/* Basic formatting styles */
.semibold {
	font-weight: 600;
}

/* Basic element classes */
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color           : #aa0000;
    text-decoration : none;
    display         : inline-block;
}

div *, span *, td *, th * {
    vertical-align: middle;
}

div { 
	display: block;
}

span { 
	display: inline-block;
}

form {
	display: inline;
}

.hidden {
	display: none;
}

h1, h2, h3, h4 {
	margin-left    : 4px;
	margin-right   : 4px;
	margin-top     : 2px;
	margin-bottom  : 2px;
}

h1 {
	font-family    : PTSans-Narrow-Bold;
	text-align     : left;
	font-size      : 4em;
	text-transform : uppercase;
}

h2 {
    font-family    : PTSans-Narrow;
    font-size      : 3.6em;
    text-transform : uppercase;
    line-height    : 36px;           
}

h3 { 
	font-family    : PTSans-Narrow-Bold;
    font-size      : 3.2em;
	font-weight    : 600;
	text-transform : uppercase;
	letter-spacing : 1px;
}

h4 {
	font-family    : PTSans-Narrow-Bold;
    font-size      : 3em;
}

h5 {
	font-family    : Bitter;
	font-weight    : 600;
	font-size      : 1.6em;
}

h6 {
	font-family    : Bitter;
	font-size      : 1.3em;
	letter-spacing : .5px;
	font-weight    : 500;
}

/* INPUTS  */

textarea,
input.text,
input.password,
input.form-text,
input.form-email,
input.email,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="number"] {
    color             : #333333;
    background-repeat : no-repeat;
    font-size         : 100%;
    font-family       : "Inconsolata";
    border-width      : 1px;
    border-color      : #ccc;
    border-style      : solid;
    border-radius     : 4px;
    padding-left      : 4px;
    padding-right     : 4px;
    padding-top       : 4px;
    padding-bottom    : 4px;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance : button;
    appearance         : button;
}

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family : inherit;
    font-size   : 100%;
    line-height : 1.15;
    margin      : 0;
}

/* Custom nonsense Palmer is way too used to using.  AKA, 'Palmer quasi reinvents bootstrap' */

span.third {
	margin  : 0;
	padding : .5%;
	width   : 31%;
}

span.twothirds {
	margin  : 0;
	padding : .5%;
	width   : 64%;
}

.rightalign {
	text-align: right;
}

.centeralign {
	text-align: center;
}

.leftalign {
	text-align: left;
}

.padtop {
	padding-top: 8px;
}

.bluebutton {
	line-height     : 1em;
    font-weight     : 600;
    text-decoration : none !important;
    padding         : 6px;
    margin          : 0px;
    vertical-align  : middle;
    font-family     : Signika-Bold;
    font-size       : 18px;
    border-radius   : 4px;
	color           : #fcfcfc;
	background-color: #016F94;
}

.bluetext {
	color            : #016F94;
}

.greentext {
	color            : #467029;
}

.orangetext {
	color            : #F05123;
}

