body {
    background-color    : #009CD4;
    background-image    : url("/public/images/bg-repeat.png");
    background-repeat   : repeat-x;
    background-position : center top;
    text-align          : left;
    font-family         : open_sans, Tahoma, Arial, sans-serif;
    font-size           : 14px;
    width               : 100%;
    padding             : 0;
    margin              : 0;
}


#overlay {
    background-image    : url("/public/images/lens-flair.png");
    background-repeat   : no-repeat;
    background-position : -256px -206px;
    padding             : 0;
    margin              : 0;
	height              : 512px;
}


/* Basic element classes */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color           : #aa0000;
    text-decoration : none;
    display         : inline-block;
}

div *, span *, td *, th * {
    vertical-align: middle;
}

div { 
	display: block;
}

span { 
	display: inline-block;
}

form {
	display: inline;
}

.hidden {
	display: none;
}

/* INPUTS  */

textarea,
input.text,
input.password,
input.form-text,
input.form-email,
input.email,
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="email"],
input[type="password"],
input[type="file"],
input[type="number"] {
    color             : #333333;
    background-repeat : no-repeat;
    font-size         : 100%;
    font-family       : "Inconsolata";
    border-width      : 1px;
    border-color      : #ccc;
    border-style      : solid;
    border-radius     : 4px;
    padding-left      : 4px;
    padding-right     : 4px;
    padding-top       : 4px;
    padding-bottom    : 4px;
}

button, [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance : button;
    appearance         : button;
}

button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    font-family : inherit;
    font-size   : 100%;
    line-height : 1.15;
    margin      : 0;
}

span.third {
	margin  : 0;
	padding : .5%;
	width   : 31%;
}

span.twothirds {
	margin  : 0;
	padding : .5%;
	width   : 64%;
}
