body {
    background-color    : #009CD4;
    background-image    : url("/public/images/bg-repeat.png");
    background-repeat   : repeat-x;
    background-position : center top;
    text-align          : left;
    font-family         : open_sans, Tahoma, Arial, sans-serif;
    font-size           : 14px;
    width               : 100%;
    padding             : 0;
    margin              : 0;
}


#overlay {
    background-image    : url("/public/images/lens-flair.png");
    background-repeat   : no-repeat;
    background-position : -256px -206px;
    padding             : 0;
    margin              : 0;
	height              : 512px;
}

#header {
    width     : 88%;
    margin    : auto;
    padding   : 0;
    min-width : 970px;
    max-width : 1536px;
}

#logo {
    width          : 24%;
    margin         : 0;
    padding        : 0;
    padding-bottom : 4px;
    padding-left   : 4px;
    max-height     : 48px;
}

#logo a {
    margin         : 0;
    padding        : 0;
}

#logo a img {
    display    : inline;
    max-width  : 100%;
	max-height : 96px;
}

#profile {
    display        : inline-block;
    width          : 69%;
    min-width      : 580px;
    text-align     : right;
    padding-top    : 8px;
    padding-bottom : 8px;
    letter-spacing : .2px;
    margin         : 0;
}

#profile a, #userinfo a {
    display         : inline-block;
    border-left     : 2px solid rgba(255, 255, 255, 0.14);
    color           : rgba(255, 255, 255, 0.64);
    margin          : 0;
    padding         : 0;
    padding-left    : 8px;
    padding-right   : 8px;
    text-decoration : none;
    font-size       : 12px;
    font-weight     : 600;
}

/* Basic element classes */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
    color           : #aa0000;
    text-decoration : none;
    display         : inline-block;
}

#main {
	width            : 86%;
	background-color : #fefefe;
	padding          : 2%;
	margin           : auto;
	min-height       : 108vh
}
