.container {
    padding: 1rem;
    display: block;
    overflow: auto;
}

.table {
    margin-top: 5px;
    border-spacing: 0;
    border-top: none;
    display: inline-block;
    margin-right: 20px;
    --defBorder: 1px solid rgba(0, 0, 0, 0.05);
}

.table a {
    color: var(--default-blue);
}

.thead {
    overflow-y: auto;
    overflow-x: hidden;
}

.tbody {
    overflow-x: hidden;
}

.tr {
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-width: 0 1px;
    border-bottom: var(--defBorder);
}

.tr-hg {
    display: flex;
    flex: 1 0 auto;
    min-width: 120px;
}

.th {
    text-align: center;
    text-overflow: ellipsis;
}

.col-header {
    display: inline;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.th,
.td {
    margin: 0;
    padding: 0.5rem;
    position: relative;
    border-right: var(--defBorder);
    min-width: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.th:last-child,
.td:last-child {
    border-right: 0;
}

.tr:last-child .td {
    border-bottom: 0;
}

.tr-hg .th {
    text-overflow: ellipsis;
}

.resizer {
    display: inline-block;
    width: 36px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 10;
    right: -18px;
    cursor: col-resize;
    touch-action: none;
}

.resizer:hover::after {
    content: "\21D5";
    position: absolute;
    height: 16px;
    left: 0;
    top: 20%;
}

.no-select {
    user-select: none;
}

.loading,
.no-data {
    display: flex;
    justify-content: center;
}

.download-options-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

/* General React Table CSS - anything below not specific to FlexTable.js */
.header-row {
    background-color: #3473A7;
    color: white;
}

.sorted-desc::after {
    content: "\25B2";
    height: 16px;
    position: absolute;
    right: 20px;
}

.sorted-asc::after {
    content: "\25BC";
    height: 16px;
    position: absolute;
    right: 20px;
}
