web/mason
web/tmp
web/lib/Tab/General.pm
web/lib/s3.config
web/lib/javascript/tabroom.min.js.old
web/lib/javascript/sources.js
api/node_modules
api/.env
api/logs
api/.pm2
api/config/config.js
*.swp
*.swo
#sorry
.vscode
npm*
web/funclib/.nvimlog
web/lib/Tab/.nvimlog
