web/mason
web/tmp
web/lib/Tab/General.pm
web/lib/s3.config
web/lib/javascript/tabroom.min.js.old
api/node_modules
api/config/config.json
*.swp
*.swo
ndt/scripts/databaseconnect.php
#sorry
.vscode
npm*

