.download {
    background-color : #FFF !important;
    color            : #467029 !important;
    border           : 2px solid #467029;
    border-radius    : 5px !important;
    padding-top      : 4px !important;
    padding-bottom   : 4px !important;
    font-size        : 12pt !important;
    font-weight      : bold !important;
}

.download:hover {
    border           : 2px solid #467029 !important;
    background-color : #467029 !important;
	color            : #FFF !important;
    transition       : all 0.5s ease;
}

.download[disabled],
.download[disabled]:hover {
    opacity: 0.5;
    cursor: not-allowed !important;
}