.container {
    padding-top    : .5em;
    padding-bottom : 1em;
    display        : block;
    overflow       : auto;
}

.table {
	width          : 100%;
 	margin-top     : 5px;
    border-spacing : 0 !important;
    border-top     : 1px solid #016F94;
	border-left    : 1px solid rgba(0, 0, 0, 0.2);
	border-right   : 1px solid rgba(0, 0, 0, 0.2);
	border-bottom  : 1px solid rgba(0, 0, 0, 0.2);
    --defBorder    : 1px solid rgba(0, 0, 0, 0.05);
}

.tight {
	width          : 100%;
 	margin-top     : 5px;
    border-spacing : 1px;
}

.table a, .tight a {
    color: var(--default-blue);
}

.thead {
	display      : table-header-group;
	font-size    : 90%;
    overflow-y   : auto;
    overflow-x   : hidden;
}

.tbody {
    overflow-x: hidden;
	display: table-row-group;
}

.tfoot {
	display: none;
}

.headerRow {
    border           : 1px solid rgba(0, 0, 0, 0.1);
    border-width     : 0 1px;
    border-bottom    : var(--defBorder);
	background-color : #fcefc0;
}

.download-row {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.tr {
    border        : 1px solid rgba(0, 0, 0, 0.1);
    border-width  : 0 1px;
    border-bottom : var(--defBorder);
}

.striped {
    background-color: #EAEAEA;
}

.cursor-pointer {
    cursor: pointer;
}

.tr-hg {
    display: flex;
    flex: 1 0 auto;
    min-width: 120px;
}

.th {
    text-align    : left;
    text-overflow : ellipsis;
	font-weight   : 600;
    margin        : 0;
    padding       : 0.25rem;
	padding-left  : 0.32rem;
	font-size     : 94%;
}

.col-header {
    display       : inline;
    text-overflow : ellipsis;
    overflow      : hidden;
    white-space   : nowrap;
}

.th,
.td {
    position      : relative;
    border-right  : var(--defBorder);
    min-width     : 0;
    text-overflow : ellipsis;
    overflow      : hidden;
    white-space   : nowrap;
}

.th {
	padding-top    : 6px;
	padding-bottom : 6px;
}

.td {
    margin        : 0;
    padding       : 0.5rem;
}

.numeric { 
	text-align: right;
}

.tight tr .td {
    margin         : 0;
    padding        : 0.32rem;
	font-size      : 86%;
}

.tight tr .th {
	font-size : 85%;
}

.th:last-child,
.td:last-child {
    border-right: 0;
}

.tr:last-child .td {
    border-bottom: 0;
}

.tr-hg .th {
    text-overflow: ellipsis;
}

.thText {
	width        : 90%;
	padding-left : 2%;
	text-align   : left;
}

.thArrows {
	width        : 6%;
	text-align   : center;
}

.evenrow { 
	background-color : #eaeaea;
	border-top       : 1px solid #ddd;
	border-bottom    : 1px solid #ddd;
}

.resizer {
    display      : inline-block;
    width        : 36px;
    height       : 100%;
    position     : absolute;
    top          : 0;
    bottom       : 0;
    z-index      : 10;
    right        : -18px;
    cursor       : col-resize;
    touch-action : none;
}

.resizer:hover::after {
    content  : "\21D5";
    position : absolute;
    height   : 16px;
    left     : 0;
    top      : 20%;
}

.no-select {
    user-select: none;
}

.loading,
.no-data {
    display         : flex;
    justify-content : center;
}

.download-options-row {
    display         : flex;
    justify-content : flex-start;
    margin-bottom   : 5px;
}

/* General React Table CSS - anything below not specific to FlexTable.js */
.header-row {
    background-color: #3473A7;
    color: white;
}

.header-row th {
	padding-bottom : 4px;
	padding-top    : 4px;
}

.sorted-desc::after {
    content  : "\25B2";
    height   : 16px;
    position : absolute;
    right    : 20px;
}

.sorted-asc::after {
    content  : "\25BC";
    height   : 16px;
    position : absolute;
    right    : 20px;
}

.tableHeaderRow {
	padding-bottom: 0px;	
}

.headerButtons {
	text-align    : right;
	width         : 20%;
	padding-right : 1%;
}

.headerTitle {
	width: 78%;
}

.headerTitle h1 {
	padding-bottom : 0px;
	line-height    : 1em;
}