[client]
port	= 3306
socket	= /var/run/mysqld/mysqld.sock

[mysqld]
port               = 3306
socket             = /var/run/mysqld/mysqld.sock
datadir            = /var/lib/mysql
back_log           = 50
default-time-zone  = "+00:00"
max_connections    = 2000
max_connect_errors = 10
back_log           = 50
table_open_cache   = 2048
bind-address       = 0.0.0.0
skip-mysqlx
skip-ssl
sql_mode = 'ERROR_FOR_DIVISION_BY_ZERO,STRICT_TRANS_TABLES,NO_ENGINE_SUBSTITUTION'

# otherwise it does not work with legacy client code
default_authentication_plugin=mysql_native_password

# * InnoDB
innodb_file_per_table
open-files-limit               = 4096
default-storage-engine         = innodb
innodb_data_file_path          = ibdata1:10M:autoextend
innodb_autoextend_increment    = 50
innodb_redo_log_capacity       = 2G
innodb_log_buffer_size         = 64M
innodb_flush_log_at_trx_commit = 2
open-files-limit               = 65536
innodb_buffer_pool_size        = 4G
innodb_buffer_pool_instances   = 8
innodb_lock_wait_timeout       = 2
innodb_flush_method            = O_DIRECT
innodb_write_io_threads        = 8
innodb_read_io_threads         = 8
transaction-isolation          = READ-COMMITTED

# Start Performance Parameters
tmpdir                   = /tmp
max_heap_table_size      = 512M
max_join_size            = 512M
tmp_table_size           = 512M
sort_buffer_size         = 4M
read_buffer_size         = 4M
max_allowed_packet       = 32M
thread_stack             = 256K
thread_cache_size        = 64

#general_log        = 1
#general_log_file   = /var/log/mysql/mysql-query.log
slow_query_log      = 1
slow_query_log_file = /var/log/mysql/mysql-slow.log
long_query_time     = 2

# *** INNODB Specific options ***

[mysqldump]
quick
max_allowed_packet = 32M

[mysql]
no-auto-rehash

[mysqlhotcopy]
interactive-timeout

[mysqld_safe]
open-files-limit = 65536
