/*  CSS elements that are common to the entire world in Tabroom  */


/* Color Library
 *
 * Chosen using precision and careful calculations, a deep knowledge of color
 * theory and an amazing eye.
 *
 * In other words, I stuck the logo color in some website I found on the web
 * and it gave me back the rest of the options which I fiddled with in probably
 * invalid ways.
 *
 * I am an Artist, and this is my Vision™.
 *
 * -- CLP 
 */


:root {

    --background-white : #fefefe;
	--background-blue  : #009CD4;

	--lightest-blue   : #DFEFF6;
	--light-blue      : #8AD7F1;
	--medium-blue     : #08A9DE;
	--dark-blue       : #016F94;
	--darker-blue     : #004359;

	--lightest-red : #FFC8BD;
	--light-red    : #FF9F8E;
	--medium-red   : #FF5131;
	--dark-red     : #BA1D00;
	--darker-red   : #8E1600;

	--lightest-yellow : #FFECBD;
	--light-yellow    : #FFDB84;
	--medium-yellow   : #FFD267;
	--dark-yellow     : #FFB400;

	--lightest-gray : #fafafa;
	--light-gray    : #eaeaea;
	--border-gray   : #ddd;
	--medium-gray   : #aaa;
	--neutral-gray  : #777;
	--dark-gray     : #444;
	--darker-gray   : #111;

	--lightest-cool-gray : #e5ebed;
	--light-cool-gray    : #c3d1d5;

	--light-green  : #C4DFA0;
	--medium-green : #578415;
	--dark-green   : #365E00;

	--light-orange  : #C76804;
	--medium-orange : #ED7A00;
	--dark-orange   : #F8AD5F;

	--light-purple  : #350144;
	--medium-purple : #76278C;
	--dark-purple   : #350144;

	--dark-bluegreen : #159090;
}

body {
	background-color    : var(--background-blue);
	background-image    : url("/images/bg-repeat.png");
	background-repeat   : repeat-x;
	background-position : center top;
	text-align          : left;
	font-family         : open_sans, Tahoma, Arial, sans-serif;
	font-size           : 14px;
	width               : 100%;
	padding             : 0;
	margin              : 0;
}


h1 {
	font-family    : PTSans-Narrow-Bold;
	text-align     : left;
	letter-spacing : .2px;
	font-size      : 3.8em;
	padding        : 4px;
	margin-left    : 4px;
	margin-right   : 4px;
	margin-top     : 8px;
	margin-bottom  : 16px;
	text-transform : uppercase;
}

h2 {
	font-family    : PTSans-Narrow;
    font-size      : 3.2em;
	font-weight    : 600;
	letter-spacing : 1px;
	text-transform : uppercase;
    line-height    : 36px;
	margin-top     : 0;
    margin-left    : 2px;
	margin-bottom  : 16px;
    padding-top    : 8px;
}

h3 {
	font-family    : PTSans-Narrow-Bold;
    font-size      : 3em;
	font-weight    : 600;
	text-transform : uppercase;
	padding-left   : 4px;
	padding-top    : 4px;
	padding-bottom : 4px;
	margin-top     : 8px;
	margin-bottom  : 8px;
	letter-spacing : 1px;
}

h4 {
	font-family    : PTSans-Narrow-Bold;
    font-size      : 2.6em;
	padding-left   : 4px;
	padding-top    : 8px;
	padding-bottom : 2px;
	margin-top     : 4px;
	margin-bottom  : 7px;
}