/*  CSS elements that are common to the entire world in Tabroom  */


/* Color Library
 *
 * Chosen using precision and careful calculations, a deep knowledge of color
 * theory and an amazing eye.
 *
 * In other words, I stuck the logo color in some website I found on the web
 * and it gave me back the rest of the options which I fiddled with in probably
 * invalid ways.
 *
 * I am an Artist, and this is my Vision™.
 *
 * -- CLP 
 */

:root {

    --background-white : #fefefe;
	--background-blue  : #009CD4;

	--lightest-blue   : #DFEFF6;
	--light-blue      : #8AD7F1;
	--medium-blue     : #08A9DE;
	--dark-blue       : #016F94;
	--darker-blue     : #004359;

	--lightest-red : #FFC8BD;
	--light-red    : #FF9F8E;
	--medium-red   : #FF5131;
	--dark-red     : #BA1D00;
	--darker-red   : #8E1600;

	--lightest-yellow : #FFECBD;
	--light-yellow    : #FFDB84;
	--medium-yellow   : #FFD267;
	--dark-yellow     : #FFB400;

	--lightest-gray : #fafafa;
	--light-gray    : #eaeaea;
	--border-gray   : #ddd;
	--medium-gray   : #aaa;
	--neutral-gray  : #777;
	--dark-gray     : #444;
	--darker-gray   : #111;

	--lightest-cool-gray : #e5ebed;
	--light-cool-gray    : #c3d1d5;

	--light-green  : #C4DFA0;
	--medium-green : #578415;
	--dark-green   : #365E00;

	--light-orange  : #C76804;
	--medium-orange : #ED7A00;
	--dark-orange   : #F8AD5F;

	--light-purple  : #350144;
	--medium-purple : #76278C;
	--dark-purple   : #350144;

	--dark-bluegreen : #159090;
}

body {
	background-color    : var(--background-blue);
	background-image    : url("/images/bg-repeat.png");
	background-repeat   : repeat-x;
	background-position : center top;
	text-align          : left;
	font-family         : open_sans, Tahoma, Arial, sans-serif;
	font-size           : 14px;
	width               : 100%;
	padding             : 0;
	margin              : 0;
}

h1 {
	font-family    : PTSans-Narrow-Bold;
	text-align     : left;
	letter-spacing : .2px;
	font-size      : 3.8em;
	padding        : 4px;
	margin-left    : 4px;
	margin-right   : 4px;
	margin-top     : 8px;
	margin-bottom  : 0px;
	text-transform : uppercase;
}

h2 {
	font-family    : PTSans-Narrow;
    font-size      : 3.2em;
	font-weight    : 600;
	letter-spacing : 1px;
	text-transform : uppercase;
    line-height    : 36px;
	margin-top     : 0;
    margin-left    : 2px;
	margin-bottom  : 0px;
    padding-top    : 8px;
}

h3 {
	font-family    : PTSans-Narrow-Bold;
    font-size      : 3em;
	font-weight    : 600;
	text-transform : uppercase;
	padding-left   : 4px;
	padding-top    : 4px;
	padding-bottom : 4px;
	margin-top     : 8px;
	margin-bottom  : 0px;
	letter-spacing : 1px;
}

h4 {
	font-family    : PTSans-Narrow-Bold;
    font-size      : 2.6em;
	padding-left   : 4px;
	padding-top    : 8px;
	padding-bottom : 2px;
	margin-top     : 4px;
	margin-bottom  : 0px;
}

table { 
	width          : 100%;
	border-spacing : 1px;
}

.semibold {
	font-weight: 600;
}

/* Alignment */

.left { 
	text-align: left;
}
.center { 
	text-align: center;
}
.right { 
	text-align: right;
}

a {
	text-decoration : none;
	display         : inline-block;
	text-align      : left;
	line-height     : 16px;
	padding-bottom  : 1px;
	color           : var(--darker-gray);
}

a.full {
	text-decoration : none;
	display         : block;
	text-align      : left;
	padding         : 4px;
	padding-top     : 6px;
	padding-bottom  : 6px;
	margin          : 0;
	line-height     : 16px;
	color           : var(--darker-gray);
}

a:hover {
	text-decoration : underline;
	opacity         : .4;
}
a.full:hover {
	background-color: var(--lightest-blue);
	text-decoration : none;
	opacity         : .8;
}

.hover:hover {
	background-color: var(--lightest-gray);
	opacity         : .8;
}

/* Building Blocks */

.sidenote {
	display             : block;
	width               : 88%;
	font-size           : 12px;
	min-height          : 32px;
	line-height         : 16px;
	margin              : auto;
	margin-top          : 16px;
	margin-bottom       : 4px;
	padding             : 8px;
	background-color    : var(--background-white);
	background-position : right top;
	background-repeat   : no-repeat;
	border-width        : 1.2x;
	border-style        : solid;
	border-color        : var(--medium-gray);
	border-radius       : 4px;
}

.sidenote h3,
.sidenote h4,
.sidenote h5 {
	padding-left   : 2px;
	padding-top    : 8px;
	letter-spacing : 1px;
	line-height    : 22px;
	font-weight    : 600;
	text-transform : none;
}

.sidenote h3 {
	font-size      : 2.2em;
}

.sidenote h4 {
	font-size      : 2em;
}

.sidenote h5 {
	font-size      : 1.6em;
	letter-spacing : .44px;
}

.sidenote h6 {
	font-size      : 1.6em;
	letter-spacing : .64px;
	padding-left   : 2px;
	padding-top    : 8px;
}

.sidenote a {
	text-decoration : none;
	display         : inline-block;
	font-size       : 11px;
	text-align      : left;
	line-height     : 16px;
}


/* Positional element generic sizing */

	#main {
		float            : left;
		width            : 71%;
		background-color : var(--background-white);
		padding          : 2%;
		padding-top      : 16px;
		padding-bottom   : 16px;
		margin           : 0;
		min-height       : 600px;
		min-height       : 108vh;
	}

	#mainfull {
		float : none;
		width : 96%;
	}

	#menu {
		width    : 25%;
		float    : right;
		margin   : 0;
		padding  : 0;
		position : relative;
	}

	#sideoverlay {
		position         : absolute;
		left             : 25%;
		top              : 16px;
		width            : 50%;
		background-color : var(--background-white);
		padding          : 32px 16px 64px;
		border           : 12px solid var(--dark-blue);
	}

/** 
 * Svelte makes it somewhat difficult to scope CSS downwards into child
 * components and the two threads I found about adding support for it easily
 * turned into mod hell, so I'm just sticking more here than I expected. Sorry.
 **/


#toprow {
	display        : block;
	width          : 69%;
	min-width      : 580px;
	float          : right;
	text-align     : right;
	padding-top    : 8px;
	padding-bottom : 8px;
	letter-spacing : .2px;
	margin         : 0;
}

#toprow a {
	display         : inline-block;
	border-left     : 2px solid rgba(255, 255, 255, 0.14);
	color           : rgba(255, 255, 255, 0.64);
	margin          : 0;
	padding         : 6px;
	padding-left    : 8px;
	padding-right   : 8px;
	text-decoration : none;
	font-size       : 12px;
	font-weight     : 600;
}

#toprow a.borderright {
	border-right     : 2px solid rgba(255, 255, 255, 0.14);
}

#toprow a.fa {
	font-size      : 16pt;
	font-weight    : 400;
	margin-bottom  : 0;
	padding-top    : 4px;
	padding-bottom : 4px;
}

#toprow a:hover {
	color            : var(--darker-blue);
	background-color : var(--light-yellow);
}

/* Text Colors */

.bluetext {
	color : var(--dark-blue);
}

.orangetext {
	color : var(--dark-orange);
}

.greentext {
	color : var(--medium-green);
}

.fas {
	margin    : 0;
	padding   : 6px;
	font-size : 1.5em;
}
.fas-micro {
	padding   : 2px;
	font-size : .7em;
}
.fas-sm {
	padding   : 4px;
	font-size : .9em;
}
.fas-lg {
	padding   : 8px;
	font-size : 2em;
}

.fas-2x {
	padding   : 8px;
	font-size : 4em;
}

/* Resetting Functionality */

div:after {
	clear   : both;
	content : "";
	display : block;
	height  : 0;
}

.nospace {
	padding : 0 !important;
	margin  : 0 !important;
}

