
/* Tabulator Tables */

.tabulator {
	font-size    : 11px;
	font-family  : open_sans, Tahoma, Arial, sans-serif;
	border-color : var(--background-white);
	color        : var(--dark-gray);
}

.tabulator.smaller {
	font-size    : 10px;
}

.tabulator.smallish {
	font-size    : 11px;
}

.tabulator .tabulator-header {
	border-color     : var(--background-white);
}

.tabulator .tabulator-header .tabulator-col {
	background-color : var(--lightest-yellow);
	line-height      : 14px;
    vertical-align   : middle;
    padding          : 2px;
    padding-left     : 8px;
    font-weight      : 600;
	border-color     : var(--background-white);
}

.tabulator .tabulator-header .tabulator-col.tabulator-sortable:hover {
	background-color : var(--light-yellow);
}


.tabulator .tabulator-row .tabulator-cell {
	border-color   : var(--background-white);
	padding        : 6px;
}

/* Define the style when the column is not sorted */
.tabulator-col[aria-sort="none"] .tabulator-col-sorter i{
    color : var(--medium-gray);
}

/* Define the style when the column is sorted in ascending order */
.tabulator-col[aria-sort="ascending"] .tabulator-col-sorter i{
    color : var(--dark-red);
}

/* Define the style when the column is sorted in descending order */
.tabulator-col[aria-sort="descending"] .tabulator-col-sorter i{
    color     : var(--dark-red);
    transform : scaleY(-1);
}
