#container {
	margin    : auto;
	width     : 90%;
	min-width : 1000px;
}

#wrapper { 
	background-color : #e5ebed;
	width     : 100%;
}

#main {
	background-color : #fefefe;
	display    : inline-block;
	margin     : 0;
	padding    : .5%;
	min-height : 108vh;
	width      : 75%;
}

#menu { 
	display          : inline-block;
	vertical-align   : top;
	width            : 23.5%;
	height           : 100vh;
}

