# Near-constant Tabroom functions
* * * * * /usr/bin/curl https://www.tabroom.com/api/strike_card_process.mhtml > /dev/null 2>&1
* * * * * /usr/bin/curl https://www.tabroom.com/api/flip_monitor.mhtml > /dev/null 2>&1
* * * * * /usr/bin/curl https://www.tabroom.com/api/auto_queue.mhtml > /dev/null 2>&1
* * * * * /usr/bin/curl https://www.tabroom.com/v1/auto/publish > /dev/null 2>&1

# Hourly Tabroom functions
7 * * * * /usr/bin/curl https://www.tabroom.com/api/autopost.mhtml > /dev/null 2>&1
6 * * * * /usr/bin/curl https://www.tabroom.com/api/ceda_points.mhtml > /dev/null 2>&1
# Nationals nonsense
30 * * * * /usr/bin/curl https://www.tabroom.com/api/update_invoices.mhtml

# Daily Tabroom functions
00 5 * * * /usr/bin/curl https://www.tabroom.com/user/admin/naudl/salesforce_autopost.mhtml > /dev/null 2>&1
00 6 * * * /usr/bin/curl https://www.tabroom.com/api/districtize_chapters.mhtml > /dev/null 2>&1
30 6 * * * /usr/bin/curl https://www.tabroom.com/api/districts_import.mhtml > /dev/null 2>&1
45 6 * * * /usr/bin/curl https://www.tabroom.com/api/ballot_notes_rm.mhtml
00 11 * * * /usr/bin/curl https://www.tabroom.com/api/day_emails.mhtml
00 12 * * * /usr/bin/curl https://www.tabroom.com/api/emma_contacts.mhtml
22 7,16,22 * * * /usr/bin/curl https://www.tabroom.com/api/check_judges.mhtml > /dev/null 2>&1

# Weekly Tabroom functions
00 0 * * 3 /usr/bin/curl https://www.tabroom.com/api/this_weekend.mhtml > /dev/null 2>&1
00 16 * * 1 /usr/bin/curl https://www.tabroom.com/api/district_notices_warning.mhtml > /dev/null 2>&1
00 9 * * 3 /usr/bin/curl https://www.tabroom.com/api/district_notices.mhtml > /dev/null 2>&1

# Monthly tournament contacts report
0 0 27 * * /usr/bin/curl https://www.tabroom.com/api/this_weekend.mhtml\?month=1 > /dev/null 2>&1
