# Edit this file to introduce tasks to be run by cron.
#
# Each task to run has to be defined through a single line
# indicating with different fields when the task will be run
# and what command to run for the task
#
# To define the time you can provide concrete values for
# minute (m), hour (h), day of month (dom), month (mon),
# and day of week (dow) or use '*' in these fields (for 'any').#
# Notice that tasks will be started based on the cron's system
# daemon's notion of time and timezones.
#
# Output of the crontab jobs (including errors) is sent through
# email to the user the crontab file belongs to (unless redirected).
#
# For example, you can run a backup of all your user accounts
# at 5 a.m every week with:
# 0 5 * * 1 tar -zcf /var/backups/home.tgz /home/
#
# For more information see the manual pages of crontab(5) and cron(8)
#
# m h  dom mon dow   command

# Near-constant Tabroom functions
* * * * * /usr/bin/curl https://www.tabroom.com:8765/api/strike_card_process.mhtml > /dev/null 2>&1
* * * * * /usr/bin/curl https://www.tabroom.com:8765/api/flip_monitor.mhtml > /dev/null 2>&1
* * * * * /usr/bin/curl https://www.tabroom.com:8765/api/auto_queue.mhtml > /dev/null 2>&1
* * * * * /usr/bin/curl https://www.tabroom.com:8765/v1/auto/publish > /dev/null 2>&1

# Hourly Tabroom functions
7 * * * * /usr/bin/curl https://www.tabroom.com:8765/api/autopost.mhtml > /dev/null 2>&1
6 * * * * /usr/bin/curl https://www.tabroom.com:8765/api/ceda_points.mhtml > /dev/null 2>&1

# Daily Tabroom functions
0 3 * * * /usr/bin/curl https://www.tabroom.com:8765/user/admin/naudl/salesforce_autopost.mhtml > /dev/null 2>&1
0 5 * * * /usr/bin/curl https://www.tabroom.com:8765/api/ballot_notes_rm.mhtml
0 11 * * * /usr/bin/curl https://www.tabroom.com:8765/api/day_emails.mhtml
0 12 * * * /usr/bin/curl https://www.tabroom.com:8765/api/emma_contacts.mhtml

# Weekly Tabroom functions
0 0 * * 3 /usr/bin/curl https://www.tabroom.com:8765/api/this_weekend.mhtml > /dev/null 2>&1
# Monthly tournament contacts report
0 0 27 * * /usr/bin/curl https://www.tabroom.com:8765/api/this_weekend.mhtml\?month=1 > /dev/null 2>&1

# Monthly housekeeping to eliminate some spare LDAP accounts in the offweek days
0 9 1 * * /usr/bin/curl https://www.tabroom.com:8765/api/ldap_age.mhtml > /dev/null 2>&1

# District sync to chapters
45 4 * * * /usr/bin/curl https://www.tabroom.com:8765/api/districts_import.mhtml > /dev/null 2>&1
47 4 * * * /usr/bin/curl https://www.tabroom.com:8765/api/districtize_chapters.mhtml > /dev/null 2>&1

# Weekly District tournament notices.
#0 16 * * 1 /usr/bin/curl https://www.tabroom.com:8765/api/district_notices_warning.mhtml > /dev/null 2>&1
#0 9 * * 3 /usr/bin/curl https://www.tabroom.com:8765/api/district_notices.mhtml > /dev/null 2>&1

# Nationals nonsense
# 1,16,31,46 * * * * /usr/bin/curl https://www.tabroom.com:8765/api/judge_bonds.mhtml > /dev/null 2>&1
30 * * * * /usr/bin/curl https://www.tabroom.com:8765/api/update_invoices.mhtml
# 22 7,16,22 * * * /usr/bin/curl https://www.tabroom.com:8765/api/check_judges.mhtml > /dev/null 2>&1
