[Unit]
Description=Indexcards Tabroom API
Documentation=https://docs.tabroom.com/
After=network.target

[Service]
Type=forking
User=tabroom
Group=tabroom
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
Environment=PATH=/bin:/usr/bin:/usr/local/bin
Environment=PM2_HOME=/www/tabroom/api/.pm2
PIDFile=/www/tabroom/api/.pm2/pm2.pid
Restart=on-failure
WorkingDirectory=/www/tabroom/api
TimeoutSec=10

ExecStart=/usr/bin/node /usr/bin/npm run production
ExecReload=/usr/bin/pm2 reload all
ExecStop=/usr/bin/pm2 kill

[Install]
WantedBy=multi-user.target
