body {
  font-family: Arial, sans-serif;
  color: #fff;
  padding: 0;
}

body,
body canvas {
  display: block;
  background: #363636;
}

#bodytag.not-admin #debate-type-select,
#bodytag.not-admin #debate-time-options-label,
#bodytag.not-admin #debate-time-options,
#bodytag.not-admin #disclaimer,
#bodytag.not-admin #buttons,
#bodytag.not-admin #message,
#bodytag.not-admin .disclaimer,
#bodytag.not-admin button,
#bodytag.not-admin canvas,
#bodytag.not-admin #debate-type {
  display: none !important;
}

#bodytag.not-admin h3 {
  border: 0 !important;
}

#body {
  height: 90%;
  padding: 20px;
  margin: 0;
  overflow: auto;
}

h3 {
  font-size: 24px;
  padding-bottom: 20px;
  border-bottom: 1px solid #fff;
  margin-top: 0;
  padding-top: 0;
}

label {
  display: block;
  font-size: 16px;
}

p {
  font-size: 14px;
}

select {
  display: block;
  background: #fff;
  margin: 20px 0;
  font-size: 14px;
  border: 1px solid #000;
  padding: 1px;
}

.debate-time-option:visited,
.debate-time-option:active,
.debate-time-option {
  display: inline-block;
  padding: 5px 10px;
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  margin-right: 20px;
  margin-top: 20px;
  background: #1464F6;
}

#debate-time-selected {
  background: #929292;
}

#debate-timer {
  padding: 20px;
  margin: 20px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  margin: 5px;
  padding: 0;
  margin: 0;
}

input {
  width: 100%;
  border: 1px solid #7a7a7a;
  text-align: center;
  font-size: 60px;
  padding: 5px 0;
  background: transparent;
  color: #fff;
}

button {
  color: #fff;
  padding: 10px 16px;
  margin-top: 5px;
  border: 0;
  text-align: center;
  font-size: 14px;
  background: #7a7a7a;
}

button.start,
button.resume {
  background: #4C7A34;
}

button.reset {
  background: #1464F6;
}

button.pause {
  background: #D68227;
}

button.disabled {
  background: #7a7a7a;
}

#start-1 {
  float: left;
}

#reset {
  float: right;
}

#message {
  clear: both;
  color: #fff;
  border: 1px solid #fff;
  padding: 5px;
  background: #a00;
  display: none;
}

#hide-prep:active,
#hide-prep:visited,
#hide-prep {
  display: inline;
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

#hide-prep:hover {
  text-decoration: none;
}

#prep-timer {
  clear: both;
  border-top: 1px solid #7a7a7a;
  border-bottom: 1px solid #7a7a7a;
}

h5 {
  font-size: 16px;
  font-weight: normal;
  margin: 0;
}

#team-a, #team-b {
  width: 45%;
  padding-top: 10px;
  padding-bottom: 10px;
}

#timer-a, #timer-b {
  font-size: 28px;
}

#team-a {
  border-right: 1px solid #7a7a7a;
  padding-right: 4.5%;
  float: left;
}

#team-b {
  padding-left: 4.5%;
  float: right;
}
