#header {
	width      : 90%;
    margin     : auto;
    padding    : 0;
    min-width  : 970px;
}

#logo {
	width          : 29.5%;
    margin         : 0;
    padding        : 0;
    padding-bottom : 4px;
	text-align     : left;
}

#logo a img {
    display    : inline;
    max-width  : 100%;
	max-height : 110px;
}

#profile {
    display        : inline-block;
    width          : 69%;
    min-width      : 580px;
    text-align     : right;
    padding-top    : 8px;
    padding-bottom : 8px;
    letter-spacing : .2px;
    margin         : 0;
	vertical-align : top;
}

#userinfo {
	display        : inline-block;
    width          : 69%;
    min-width      : 580px;
    text-align     : right;
    padding-top    : 8px;
    padding-bottom : 8px;
    letter-spacing : .2px;
    margin         : 0;
}

#userinfo a {
	display         : inline-block;
    border-left     : 2px solid rgba(255, 255, 255, 0.14);
    color           : rgba(255, 255, 255, 0.64);
    margin          : 0;
	padding-left    : 8px;
    padding-right   : 8px;
    padding-top     : 6px;
    padding-bottom  : 6px;
    text-decoration : none;
    font-size       : 12px;
    font-weight     : 600;
}

#userinfo a:hover {
	color: #00394D;
    background-color: #FFE996;
}

.email {
	border  : no;
	padding : 0;
}

.login {
	border  : no;
	padding : 0;
}

.signup {
	border  : no;
	padding : 0;
}

#search {
	position         : relative;
    background-color : rgba(255, 255, 255, 0.32);
    width            : 196px;
    margin-left      : 4px;
    margin-right     : 4px;
    overflow         : hidden;
    padding          : 0;
	text-align       : left;
}

#search ::placeholder {
    color : rgba(255, 255, 255, 0.64);
}

.searchbutton {
	background : none;
    color      : #00394D;
    border     : 0;
    cursor     : pointer !important;
    font-size  : 20px;
    height     : 32px;
    width      : 16%;
    margin     : 0;
    padding    : 0;
}

#searchtext {
    background    : none repeat scroll 0 0 transparent !important;
    border        : 0 none !important;
    color         : #FFFFFF !important;
    width         : 76% !important;
    font-size     : 16px !important;
	font-weight   : 600;
	min-width     : 150px;
	margin-left   : 2px;
	padding       : 2px;
	padding-left  : 8px;
	padding-right : 4px;
    display       : inline;
}

#helpbutton a {
    color          : #FFFFFF !important;
	border         : none;
    margin         : 0;
    padding        : 2px;
    font-size      : 32px !important;
    width          : 32px;
    height         : 32px;
    text-align     : center;
    vertical-align : middle;
    line-height    : 32px;
}

#nav {
	position    : relative;
	float       : right;
	padding     : 0;
	margin      : 0;
	list-style  : none;
	z-index     : 500;
	font-family : Agenda-Bold;
	padding-top : 24px;
}

#nav li.top {
	display        : block;
	float          : left;
	white-space    : nowrap;
	padding-bottom : 0;
}

#nav li a.martop {
	border-top : 6px solid #00394d !important;
	margin-top : 0 !important;
}

#nav li a.top_link {
	display         : block;
	float           : left;
	color           : #fec92e;
	text-decoration : none;
	font-size       : 13pt;
	cursor          : pointer;
	width           : 108px;
	margin-left     : 5px;
}

#nav li a.top_link.wide {
	width : 128px;
}

#nav li a.top_link span {
	display          : block;
	padding          : 0;
	margin           : 0;
	background-color : rgba(255, 255, 255, 0.16);
}

#nav li:hover a.top_link span {
	background-color    : rgba(255, 255, 255, 0.32);
}

#nav li a.top_link span.down {
	text-align     : center;
	width          : 106px;
	padding-top    : 8px;
	padding-bottom : 8px;
}

#nav li a.top_link.wide span.down {
	width : 124px;
}

#nav li:hover a.top_link span.down {
	color : #f05123;
}

/* Default list styling */

#nav li {
	line-height    : 20px;
	padding-bottom : 15px;
}

#nav li:hover {
	position : relative;
	z-index  : 200;
}

#nav li:hover ul.sub {
	left        : -8px;
	top         : 34px;
	margin-left : 1px;
	white-space : nowrap;
	width       : 128px;
	height      : auto;
	z-index     : 300;
}

#nav li:hover a.top_left ul.sub {
	left : 0;
}

#nav li:hover ul.sub li {
	display       : block;
	position      : relative;
	float         : left;
	width         : 124px;
	margin-bottom : -16px;
	margin-top    : 0;
}

#nav li:hover ul.sub li a {
	font-family     : Agenda-Light;
	font-weight     : 600;
	text-align      : center;
	display         : block;
	font-size       : 14px;
	letter-spacing  : 1.2px !important;
	width           : 124px;
	background      : #FFDC7C;
	color           : #00394d;
	line-height     : 16px;
	text-decoration : none;
	border          : 1px solid #00394d;
	margin          : 0;
	padding-top     : 10px;
	padding-bottom  : 10px;
	padding-right   : 2px;
	white-space     : nowrap;
	overflow        : hidden;
}

#nav li:hover ul.sub li a:hover {
	background		: #00394d;
	color			: #fec92e;
	border-color	: #444;
	margin-bottom   : 0;
	margin-top      : 0;
}

#nav * ul {
	left			: 150px;
	top				: -1px;
	background		: #DFEDF9;
	white-space		: nowrap;
	border-left		: 1px solid #004;
	border-right	: 1px solid #004;
	width			: 150px;
	z-index			: 400;
	height			: auto;
	border-top		: 1px solid #004;
	border-bottom	: 1px solid #004;
	margin-bottom   : 0;
}

#nav ul {
	font-size: 80%;
}

#nav ul,
#nav li:hover * ul {
	position	: absolute;
	left		: -9999px;
	top			: -9999px;
	width		: 0;
	height		: 0;
	margin		: 0;
	padding		: 0;
	list-style	: none;
}

.narrow li a {
	font-size      : 16pt;
	padding-top    : 6px !important;
	padding-bottom : 6px !important;
}

li.smallish {
	font-size   : 10px;
	line-height : 0;
}
